* {
  box-sizing: border-box;
  font-family: Consolas, monospace;
  margin: 0px;
  line-height: 1.7em;
}

:root{
  --myradius: 25px;
  --lightcolor: #deba7e;
  /* --darkcolor: #b00b1e; */
  --darkcolor: hsl(212, 78%, 14%);
  color-scheme: dark;  
}

::selection {
  background: var(--lightcolor);
  color: #000;
}

h1, h2, h3  {
  color: var(--lightcolor);
  margin-bottom: 8px;
}

h2 a{
  color: currentColor;
  text-decoration: none;
}

h2 a:hover{
  /* box-shadow: 0 0 5px 5px ; */
  text-decoration-color: var(--lightcolor);
  text-decoration-thickness: 2px;
  text-decoration: underline;
}

h5 {
    margin-bottom: 8px;
}

.header {
  padding: 30px;
  text-align: center;
  background: var(--darkcolor);
  color: var(--lightcolor);
  font-size: 60px;
}


.navbar {
  overflow: hidden;
  background-color: #eee;
  position: sticky;
  position: -webkit-sticky;
  top: 1;
}

.navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 1.5em;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  display: inline-block;
  /* background-color: var(--lightcolor); */
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: var(--darkcolor);
  transition: all 0s ease-out;
}
.navbar a.active {
  background-color: #666;
  color: white;
}

@media screen and (max-width: 300px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* Column container */
.row {  
  display: flex;
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
  .header {
    font-size: 30px;
    padding: 10px;
  }
}

.side {
  flex:30%;
  
  background-color: #000;
  padding: 20px;
  max-width: 700px;
  min-width: 200px;
}

.main {   
  flex: 70%;
  padding: 20px;
  max-width: 1400px;
  
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding: 20px;
  text-align: center;
}

.project{
    border-radius: var(--myradius);
    padding: 20px;
    border: 20px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--lightcolor);
    animation: fadeIn ease-in-out .5s forwards;
    opacity: 0;
}  

@keyframes fadeIn{
  0%   {opacity:0;    transform: translateX(100%);}
  100% {opacity:1;    transform: translateX(0px);}
}
.main div:nth-child(2n) { animation-delay: .05s; }
.main div:nth-child(3n) { animation-delay: .1s; }

.project:hover {
  background-color: var(--darkcolor);
  transition: .3s;
}

.pending{
  border: 5px dashed var(--lightcolor);
}

.decorated{
  display: block;
  max-width:80%;
  max-height:500px;
  height: auto;
  width:auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 5px solid var(--lightcolor);
  border-radius: var(--myradius);
  transition: all .25s .25s ease-out;
}

.decorated:hover{
  max-width:100%;
  max-height:800px; 
}

#profilepic{
  display: block;
  max-width:80%;
  max-height:80%;
  height: auto;
  width:auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 5px solid var(--lightcolor);
  border-radius: var(--myradius);
  transition: all .25s .25s ease-out;
}
