body {
    color-scheme: dark;  
    background-color: black;
    text-shadow: 
    #000 0px 0px .1rem,
    #000 0px 0px .1rem,
    #000 0px 0px .1rem,
    #000 0px 0px .1rem,
    #000 0px 0px .1rem,
    #000 0px 0px .1rem,
    #000 0px 0px .1rem,
    #000 0px 0px .1rem,
    #000 0px 0px .1rem,
    #000 0px 0px .1rem,
    #000 0px 0px .1rem,
    #000 0px 0px .1rem,
    #000 0px 0px .2rem, 
    #000 0px 0px .2rem, 
    #000 0px 0px .2rem, 
    #000 0px 0px .2rem, 
    #000 0px 0px .2rem, 
    #000 0px 0px .2rem, 
    #000 0px 0px .2rem, 
    #000 0px 0px .2rem, 
    #000 0px 0px .3rem,
    #000 0px 0px .3rem,
    #000 0px 0px .3rem,
    #000 0px 0px .3rem,
    #000 0px 0px .3rem,
    #000 0px 0px .3rem,
    #000 0px 0px .3rem,
    #000 0px 0px .3rem,
    #000 0px 0px .3rem,
    #000 0px 0px .3rem,
    #000 0px 0px .4rem,
    #000 0px 0px .4rem,
    #000 0px 0px .4rem,
    #000 0px 0px .4rem,
    #000 0px 0px .4rem,
    #000 0px 0px .4rem,
    #000 0px 0px .4rem,
    #000 0px 0px .4rem,
    #000 0px 0px .4rem,
    #000 0px 0px .4rem,
    #000 0px 0px .4rem,
    #000 0px 0px .4rem,
    #000 0px 0px .5rem,
    #000 0px 0px .5rem,
    #000 0px 0px .5rem,
    #000 0px 0px .5rem,
    #000 0px 0px .5rem,
    #000 0px 0px .6rem,
    #000 0px 0px .6rem,
    #000 0px 0px .6rem,
    #000 0px 0px .6rem,
    #000 0px 0px .6rem,
    #000 0px 0px .6rem;
    font-family: 'Courier New';
    font-weight: bold;
    color: white;
}

a {
    color: white;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-offset: 4px;
}

.img-shadow{
    box-shadow: 
    inset 0px 0px   1rem black,
    inset 0px 0px  .5rem black,
    inset 0px 0px  .3rem black,
    inset 0px 0px  .1rem black,
    0px 0px 1rem black, 
    0px 0px .5rem black, 
    0px 0px 1.5rem black,
    0px 0px 1rem black, 
    0px 0px .5rem black, 
    0px 0px 1.5rem black;
    max-width:50%;
    margin: 1rem auto;
}


img {
    background: white;
    position: relative;
    z-index: -1;
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: .25rem;
}

.main-column {
    max-width: 1000px;
    margin: 10vh auto;
}

h1 {
    font-size: 7rem;
    text-align: center;
    text-shadow: 
    #000 0px 0px .5rem, 
    #000 0px 0px .5rem, 
    #000 0px 0px .5rem, 
    #000 0px 0px 1rem,
    #000 0px 0px 1rem,
    #000 0px 0px 1rem,
    #000 0px 0px 1.5rem,
    #000 0px 0px 1.5rem,
    #000 0px 0px 1.5rem,
    #000 0px 0px 2rem,
    #000 0px 0px 2rem,
    #000 0px 0px 2rem,
    #000 0px 0px 2.5rem,
    #000 0px 0px 2.5rem,
    #000 0px 0px 2.5rem,
    #000 0px 0px 3rem,
    #000 0px 0px 3rem,
    #000 0px 0px 3rem;
}
h2 {
    font-size: 2rem;
    text-shadow: 
    #000 0px 0px .5rem,
    #000 0px 0px .5rem,
    #000 0px 0px .5rem,
    #000 0px 0px 1rem,
    #000 0px 0px 1rem,
    #000 0px 0px 1rem,
    #000 0px 0px 1.5rem,
    #000 0px 0px 1.5rem,
    #000 0px 0px 1.5rem,
    #000 0px 0px 2rem,
    #000 0px 0px 2rem,
    #000 0px 0px 2rem;
}


h6 {
    text-align: center;
}

.project {
    margin: 4rem auto;
}
